/* reset */
* {
  margin: 0;
  padding: 5px;
  border: 0;
  line-height: 1.5;
}

@font-face {
  font-family: 'Biko';
  src: url('fonts/Biko_Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biko';
  src: url('fonts/Biko_Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Biko', 'Roboto',
    sans-serif;
}

main {
  padding-top: 5em;
  padding-bottom: 5em;
  width: min(800px, 95vw);
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.8em;
  font-weight: 500;
}

.badge {
  text-align: center;
  margin-bottom: 16px;
}
.badge span {
  background-color: #4ecca3;
  color: #F0EAD2;
  border-radius: 6px;
  font-weight: bold;
  padding: 4px 8px 4px 8px;
  font-size: 0.75em;
}

.instructions {
  text-align: center;
}
.instructions span {
  color: #6c757d;
}

.giphy-attribution {
  font-size: x-small;
  font-weight: bold;
}

ul {
  margin: 8px;
  border-radius: 8px;
  border: solid 1px #F0EAD2;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

ul:empty {
  display: none;
}

li {
  display: flex;
  justify-content: flex-start;
  padding: 8px 16px 8px 16px;
  border-bottom: solid 1px #F0EAD2;
  font-size: 16px;
}

li:last-child {
  border: 0;
}

li span:nth-child(1) {
  color: #4ecca3;
  font-weight: bold;
  margin-right: 4px;
  white-space: nowrap;
}
li span:nth-child(2) {
  margin-right: 4px;
  word-break: break-word;
}
li span:nth-child(3) {
  color: #4ecca3;
  margin-left: auto;
  white-space: nowrap;
}

summary {
  background-color: #BBA899;
  color: white;
  border-radius: 10px;
}

form {
  display: flex;
  justify-content: center;
}

input:not([type]) {
  padding: 6px 12px 6px 12px;
  color: rgb(33, 37, 41);
  border: solid 1px #F0EAD2;
  border-radius: 8px;
  font-size: 16px;
}

textarea {
  padding: 6px 12px 6px 12px;
  color: rgb(33, 37, 41);
  border: solid 1px #F0EAD2;
  border-radius: 8px;
  font-size: 16px;
}

input[type="submit"],
button {
  margin-left: 4px;
  background: #90BA64;
  color: #F0EAD2;
  padding: 6px 12px 6px 12px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #90BA64;
}

input[type="submit"]:hover,
button:hover {
  background-color: #41710D;
}

input[type="submit"]:disabled,
button:disabled {
  background-color: #ADC178;
}
